<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <h1>Instagram!</h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Bio</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <% for (let user of users) { %>
          <tr>
            <td><%=user.username%></td>
            <td><%=user.bio%></td>
            <td><%=user.phone%></td>
            <td><%=user.email%></td>
            <td><%=user.status%></td>
          </tr>
          <% } %>
        </tbody>
      </table>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>

          <% for (let pageNum = 1; pageNum <= numberOfPages; pageNum++) { %>
            <li class="page-item">
                <a class="page-link" href="/?page=<%=pageNum%>">
                    <%=pageNum%>
                </a>
            </li>
          <% } %>
          
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
